NEXT_PUBLIC_MONAD_CHAIN_ID=10143
NEXT_PUBLIC_MONAD_RPC_URL="https://testnet-rpc.monad.xyz"
NEXT_PUBLIC_PRIVY_APP_ID="your_privy_app_id"
NEXT_PUBLIC_BUNDLER_URL="https://bundler.monad.xyz"
NEXT_PUBLIC_PAYMASTER_URL="https://paymaster.monad.xyz"
